<br>
<div>
<!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
<form (ngSubmit)="saveData()">
  <div class="form-group">
    <label for="title">Title</label>
    <input readonly id="title" ngModel name="title" type="text" class="form-control" value="{{cartFormData.title}}" [(ngModel)]="cartFormData.title">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <div class ="input-group" >
      <input required [min]="0"  id="quantity" ngModel name="quantity" type="number" class="form-control" value="{{cartFormData.quantity}}" [(ngModel)]="cartFormData.quantity">
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <div class ="input-group" >
      <input readonly [min]="0"  id="price" ngModel name="price" type="number" class="form-control" value="{{cartFormData.price}}" [(ngModel)]="cartFormData.price">
    </div>
  </div>

  <div class="form-group">
    <input  class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Update" *ngIf="cartFormData.id!=null">
    &nbsp;
    <button class="btn btn-outline-success my-2 my-sm-0" (click)= "clear()" type="button" >Cancel</button>
  </div>
</form>
</div>

<div class="cartItemtable">
  <table class="table">
      <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th></th>
          <th></th>
      </tr>
      <tr *ngFor="let afooditem of cartitems">
          <td> {{ afooditem.title }} </td>
          <td> {{ afooditem.price }} </td>
          <td> {{ afooditem.quantity }} </td>
          <td> {{ afooditem.total }} </td>
          <td> <button (click)="editData(afooditem) ">Edit</button> </td>
          <td> <button (click)="deleteData(afooditem) ">Delete</button> </td>

      </tr>

  </table>

</div>

